absl-py==2.1.0
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
anyio==4.6.2.post1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
attrs==23.2.0
babel==2.16.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.12.3
bitarray==2.9.2
bleach==6.2.0
blinker==1.8.2
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///croot/click_1698129812380/work
cmake==3.30.4
colbert-ai==0.2.20
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
datasets==2.20.0
debugpy==1.8.9
decorator==5.1.1
defusedxml==0.7.1
dgl==2.4.0+cu121
dill==0.3.5.1
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.21.1
filelock @ file:///croot/filelock_1700591183607/work
Flask==3.0.3
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.5.0
gensim @ file:///croot/gensim_1725057941774/work
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455533097/work
grpcio==1.68.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.0
huggingface-hub==0.24.5
idna @ file:///croot/idna_1714398848350/work
ipykernel==6.29.5
ipython==8.30.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2 @ file:///croot/jinja2_1730902924303/work
joblib @ file:///croot/joblib_1718217211762/work
json-stream @ file:///home/conda/feedstock_root/build_artifacts/json_stream_1688129075474/work
json-stream-rs-tokenizer @ file:///croot/json-stream-rs-tokenizer_1696355240127/work
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.3.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
lit==18.1.8
Markdown==3.7
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.10.1
matplotlib-inline==0.1.7
mistune==3.0.2
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.0.5
multiprocess==0.70.13
nbclient==0.10.1
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///croot/networkx_1720002482208/work
ninja==1.11.1.1
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1672696305909/work
notebook==7.3.1
notebook_shim==0.2.4
numexpr @ file:///croot/numexpr_1730215937391/work
numpy @ file:///croot/numpy_and_numpy_base_1695830428084/work/dist/numpy-1.26.0-cp310-cp310-linux_x86_64.whl#sha256=fc2732718bc9e06a7b702492cb4f5afffe9671083930452d894377bf563464a3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
openpyxl==3.1.5
overrides==7.7.0
packaging @ file:///croot/packaging_1720101850331/work
pandas @ file:///croot/pandas_1718308974269/work/dist/pandas-2.2.2-cp310-cp310-linux_x86_64.whl#sha256=a2434a313a5eb5b4fdbec6c770abfde859f643eff7b3a703791bf8b73e54c394
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
prometheus_client==0.21.1
prompt_toolkit==3.0.48
protobuf==5.29.1
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.0.0
pyarrow-hotfix==0.6
pycparser==2.22
Pygments==2.18.0
pyparsing==3.2.3
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz @ file:///croot/pytz_1713974312559/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq==26.2.0
referencing==0.35.1
regex==2024.7.24
requests @ file:///croot/requests_1721410876868/work
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.22.3
safetensors==0.4.3
scipy @ file:///croot/scipy_1710947333060/work/dist/scipy-1.12.0-cp310-cp310-linux_x86_64.whl#sha256=91bbd4c153610fb62d9555167f7bd4b7ae21086e636bd8b4c5db75d57d04ea05
Send2Trash==1.8.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///opt/conda/conda-bld/smart_open_1651563547610/work
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
sympy @ file:///croot/sympy_1724938189289/work
tensorboard==2.18.0
tensorboard-data-server==0.7.2
terminado==0.18.1
tinycss2==1.4.0
tokenizers==0.20.0
tomli==2.2.1
torch==2.4.1
tornado==6.4.2
tqdm @ file:///croot/tqdm_1724853939799/work
traitlets==5.14.3
transformers==4.46.2
triton==2.0.0
types-python-dateutil==2.9.0.20241003
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
ujson==5.10.0
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1704986336983/work
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1727769808118/work
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
widgetsnbextension==4.0.13
xxhash==3.4.1
yarl==1.9.4
